*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
.content__container{
    display:flex;
    flex-wrap: wrap;
    margin: auto;

}
.main{
 margin: 30px;
}
.video{
    height: 238px;
    width: 423px;
    border-radius: 10px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 423px;
    margin-top: 5px;
}
.content{
    display: flex;
    flex-direction: column;
}
.final{
    display: flex;
    gap:5px;
}

.img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.caption{
    font-size: 16px;
    font-weight: 500;
    color: rgb(15, 15,15);
    line-height: 22px;
    overflow: hidden;
    text-wrap-mode: wrap;


}

.final p, .channel{
    font-size: 14px;
    font-weight: 400;
    color: rgb(96,96,96);
    line-height: 18px;
}
.channel{
    margin-top: 3px;
}
